[submodule "external_libs/libhv"]
	path = external_libs/libhv
	url = git@github.com:ithewei/libhv.git
[submodule "external_libs/libusb"]
	path = external_libs/libusb
	url = git@github.com:libusb/libusb.git
[submodule "external_libs/opus"]
	path = external_libs/opus
	url = git@github.com:xiph/opus.git
[submodule "external_libs/yaml-cpp"]
	path = external_libs/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "external_libs/spdlog"]
	path = external_libs/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external_libs/nlohmann_json"]
	path = external_libs/nlohmann_json
	url = git@github.com:nlohmann/json.git
[submodule "external_libs/fmt"]
	path = external_libs/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "external_libs/CLI11"]
	path = external_libs/CLI11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "external_libs/expected"]
	path = external_libs/expected
	url = git@github.com:TartanLlama/expected.git
[submodule "external_libs/range-v3"]
	path = external_libs/range-v3
	url = git@github.com:ericniebler/range-v3.git
[submodule "external_libs/benchmark"]
	path = external_libs/benchmark
	url = git@github.com:google/benchmark.git
[submodule "external_libs/googletest"]
	path = external_libs/googletest
	url = git@github.com:google/googletest.git
[submodule "external_libs/libzip"]
	path = external_libs/libzip
	url = git@github.com:nih-at/libzip.git
[submodule "external_libs/paho.mqtt.cpp"]
	path = external_libs/paho.mqtt.cpp
	url = git@github.com:eclipse-paho/paho.mqtt.cpp.git
[submodule "external_libs/paho.mqtt.c"]
	path = external_libs/paho.mqtt.c
	url = git@github.com:eclipse-paho/paho.mqtt.c.git
[submodule "external_libs/pugixml"]
	path = external_libs/pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "external_libs/ThreadPool"]
	path = external_libs/ThreadPool
	url = git@github.com:progschj/ThreadPool.git
[submodule "external_libs/abseil-cpp"]
	path = external_libs/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "external_libs/asio"]
	path = external_libs/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "external_libs/cpp-httplib"]
	path = external_libs/cpp-httplib
	url = git@github.com:yhirose/cpp-httplib.git
[submodule "external_libs/cereal"]
	path = external_libs/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "external_libs/GSL"]
	path = external_libs/GSL
	url = git@github.com:microsoft/GSL.git
