[submodule "external_libs/libhv"]
	path = external_libs/libhv
	url = https://github.com/ithewei/libhv.git
[submodule "external_libs/libusb"]
	path = external_libs/libusb
	url = https://github.com/libusb/libusb.git
[submodule "external_libs/opus"]
	path = external_libs/opus
	url = https://github.com/xiph/opus.git
[submodule "external_libs/paho.mqtt.c"]
	path = external_libs/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "external_libs/yaml-cpp"]
	path = external_libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external_libs/spdlog"]
	path = external_libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external_libs/nlohmann_json"]
	path = external_libs/nlohmann_json
	url = https://github.com/nlohmann/json.git
